.homeBody {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aquamarine;
    margin-top: 50px;
    align-items: center;
    width: 100%;
}

.homeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: brown;
    margin: 20px;
    text-align: center;
}

.homeText h2 {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.homeText p {
    display: flex;
    justify-content: center;
}

.homeImg {
    padding: 20px;
    margin: 0;
    background-color: black;
}

.homeImg img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.homeButton {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.homeButton button {
    margin-top: 15px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(100, 185, 255);
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.homeButton button:hover {
    background-color: rgb(127, 197, 255);
    cursor: pointer;
    transform: scale(1.05);
}