.homeBody {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
    position:relative;
    margin-top: 50px;
    align-items: center;
}

.homeText {
    display: flex;
    flex-direction: column;
}

.homeText h2 {
    padding-bottom: 10px;
}

.homeText p {
    display: flex;
    justify-content: center;
}

.homeImg {
    padding: 0;
    margin: 0;
}

.homeImg img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.homeButton {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.homeButton button {
    margin-top: 15px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(100, 185, 255);
}

.homeButton button:hover {
    background-color: rgb(127, 197, 255);
    cursor: pointer;
}